html {
    height: 100%;
    font-size: 120%;
    font-family: 'Exo 2', sans-serif;
}



body {
    background-color: white;
}


/*Sidebar*/

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 100%;
    color: plum;
    background-color: teal;
    z-index: 1;
    padding-left:15px; 
    overflow: scroll;
}

.sidebar-header {
    padding-left: 5px;
    margin-bottom: 5px;
    display: table;
    width: 100%;
    box-sizing: border-box;
    color: azure;
}

.sidebar-body {
  padding: 0px;
}


.sidebar .room-name:hover {
    cursor: pointer;
}

.new-room-btn {
  border: 1px solid black;
  padding: 1rem;
  margin-left: 0.5rem;
}

.modal-box {
    position:absolute;
    width:350px;
    top: 20%;
    left: 60%;
    margin-left: -200px;
    margin-top: -40px;
    padding: 6px;
    border-width: 2px;
    background-color: teal;
    border-style: inset;
    border-color: black;
    z-index: 2;
}

.header-title {
  color:azure;
}

.modal-prompt {
  color: plum;
}

.message-board {
    position: fixed;
    margin-left: 263px;
    text-align: right;
    width: 80%;
    height: 100%;
    background-color: lavenderblush;
    z-index: 1;
    overflow: scroll;
}

.message-header {
  background-color: white;
  padding: 5px;
}

.messages {
    padding-right: 10px;
}

.messages .username {
    font-weight: bold;
    float: right;
    font-size: 70%;
    width: 7.99%;
}

.messages .sentAt {
    float: right;
    padding-right: 20px;
    font-size: 70%;
    width: 10%;
}

.messages .username .sentAt {
    display: inline-block;
}

.messages .content {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    background-color: lightgray;
    width: 80.007%;
    text-align: left;
    left: 0;
    right: 0;
}

.enter-message {
    position: absolute;
    background-color: plum;
    padding-bottom: 20px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.btn-new-message {
  padding: 0.5rem;
  border: 1px solid black;
  margin-right: 10px;
}

.user-section {
    background-color: red;
    border-style: inset;
    border-color: black;
    padding-left: 500px; 
}
