<div class="sidebar">
    <div class="sidebar-header">
        <h3 class="sidebar-title">Chat Room Project</h3>
      <button type="button" class="new-room" style="font-family: 'Exo 2', sans-serif;" ng-click="home.addRoom()">New Room</button>
    </div>
    <div class="sidebar-body" ng-repeat="room in home.rooms">
        <p class="room-name" ng-click="home.createCurrentRoom(room)">{{ room.name }}</p>   
  </div>
</div>

<section class="message-board">
   <div class="message-header" style="text-align: center;">
   <h3>{{home.currentRoom.name}}</h3> 
  </div>
   <div class="messages" ng-repeat="message in home.messages">
       <div class="username">{{ message.username }}</div>
       <div class="content">{{ message.message }}</div>
       <div class="sentAt">{{ message.sentAt | date : "shortTime" }}</div>
   </div>
   <div class="enter-message">
        <input type ="text" name="newMessage" ng-model="home.newMessage.message" placeholder="Let's talk! Please type your message here." style="width: 600px; height: 50px; margin-top: 0.2rem; font-family: 'Exo 2', sans-serif;" ng-click="home.newMessage.content">
        <button class="btn-new-message" type="button" style="font-family: 'Exo 2', sans-serif;" ng-click="home.sendMessage()">Send message</button>
</div>
  </section>




