<section class="modal-box">
  <div class="box-header">
    <h3 class="header-title">Set a Username</h3>
  </div> 
  <div class="box-body">
    <h4 class="modal-prompt">This name will appear when you send messages</h4>
    <input type="text" name="input" ng-model="user.username" required>
  </div>
  <div class="modal-footer">
    <button class="new-room-btn" type="button" ng-click="user.createUsername()" ng-disabled="user.username == null" style="font-family: 'Exo 2', sans-serif;">Set username</button>
  </div>
</section>






